<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
</head>
<body>
    <div id="app">
        <input type="number" v-model="currentPostId">
        <comment v-for="comment in displayComments" v-bind="comment" v-bind:key="comment.id"></comment>
    </div>
    <script src="./index.js"></script>

    <style>
        .comment {
            background-color:greenyellow;
        }
    </style>
</body>
</html>